input, select {
  height: 33px;
  width: 247px;
  border: 1px solid #CCD0D8;
  border-radius: 4px;
  background-color: #FCFDFE;
  transition: all 0.2s ease;
  font-size: 14px;
  color: #465880;

  &:focus {
    outline: 0;
    transition: all 0.2s ease;
    border-color: #49587D;
  }
}

input[type="radio"] {
  width: auto;
  margin-right: 12px;
  height: auto;
  vertical-align: middle;

  ~ span {
    vertical-align: middle;
    color: #3E3E3C;
  }
}

input {
  padding: 0 15px;
}


input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #006FE1;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
