// @import "./_input.scss";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fbfbfb;
}

table {
  font-family: 'Open Sans', sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

table tr th,
table tr td {
  //border-right: 1px solid #D6DAE3;
  border-bottom: 1px solid #D6DAE3;
  padding: 5px;
  font-size: 12px;
  // transition: 1s all ease-in;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #D6DAE3;
}

table tr th:last-child,
table tr td:last-child {
  border-right: 1px solid #D6DAE3;
}

table tbody {
  background-color: #fff;
}

table.logs tbody tr:nth-child(even) {
  background-color: #f5f7fa;
}

table tbody tr.clickable:hover {
  background-color: rgba(85, 150, 230, 0.1);
  td {
    border-bottom: 1px solid #5596e6;
    border-top: 1px solid #5596e6;
    // transition: 1s all ease-in;
  }
  td:first-child {
    border-left: 1px solid #5596e6;
  }

  td:last-child {
    border-right: 1px solid #5596e6;
  }
}

table tr.clickable {
  cursor: pointer;
}

table tr td {
  color: #152935;
  padding: 12px;
  &.clickable {
    color: #3d70b2;
    cursor: pointer;
  }
}

input[type='text'], input[type='password'], input[type='number'], input[type='email'] {
  width: 225px;
  height: 40px;
  background-color: rgba(61, 112, 178, 0.1);
  border: 0;
  padding: 0 10px;
  color: #222;
  font-size: 14px;
  &:focus {
    outline: 0;
  }
}

textarea {
  background-color: rgba(61, 112, 178, 0.1);
}

input[type='date'] {
  width: 225px;
  height: 40px;
  background-color: rgba(61, 112, 178, 0.1);
  border: 0;
  padding: 10px 10px 10px 30px;
  color: #222;
  font-size: 14px;
  &:focus {
    outline: 0;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  //background: transparent;
  cursor: pointer;
}

input.error {
  border: 1px solid #d0021b !important;
}


table tr th {
  background: #EEF1F7;
  border-top: 1px solid #D6DAE3;
  color: #152935;
  //text-transform: uppercase;
  text-align: left;
  padding: 12px;
}

// /* top-left border-radius */
// table tr:first-child th:first-child {
//   border-top-left-radius: 6px;
// }

// /* top-right border-radius */
// table tr:first-child th:last-child {
//   border-top-right-radius: 6px;
// }

// /* bottom-left border-radius */
// table tr:last-child td:first-child {
//   border-bottom-left-radius: 6px;
// }

// /* bottom-right border-radius */
// table tr:last-child td:last-child {
//   border-bottom-right-radius: 6px;
// }


label {
  display: block;
  font-weight: 300;
  color: #6B7891;
  font-size: 14px;
  margin-bottom: 6px;
}


.form-group:not(:last-child) {
  margin-bottom: 20px;
}

.form-group button:not(:last-child) {
  margin-right: 20px;
}

.form-group .__error {
  color: #e71d32;
  font-size: 12px;
  margin-top: 5px;
}

.nav {
  li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
    padding-bottom: 10px;
    
  }

  a {
    color: #000;
    text-decoration:none;
    cursor: pointer;
  }

  li.active {
    color: #3d70b2;
    border-bottom: 2px solid #3d70b2;
  }

  li.active a {
    color:#3d70b2;
  }
}
