.order-detail__wrapper {
  margin-top: 62px;
  font-family: 'Open Sans', sans-serif;
}

.order-detail__header {
  padding: 20px;
  height: 112px;
  width: 100%;
  background-color: #EDF1F8;
}

.order-detail__body {
  padding: 20px;
  display: flex;
}
