{
  "presets": ["es2015", "react"],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-object-rest-spread",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
    "transform-class-properties"
  ]
}
