.outlet-detail-card {
  width: calc(100% / 3);
  padding: 20px 30px;
  border: 1px solid #e2e5e8;
  background-color: #fff;

  .label {
    font-size: 13px;
    line-height: 1.5;
    color: #4a90e2;
  }

  .item {
    word-wrap: break-word;
  }

  .value {
    color: #152935;
    font-size: 14px;
  }
}

.outlet-detail-card .item:not(:first-child){
  margin-top: 26px;
}