.info-bar {
  background-color: #FFB75D;
  color: #fff;
  font-size: 12px;
  height: 34px;
  display: inline-block;
  border-radius: 3px;
  padding: 0 10px;
  span:first-child {
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: -1px;
    margin-right: 10px;
    vertical-align: middle;
  }

  span:last-child {
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
}
