.label {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #152935;
  margin-right: 5px;
  svg {
    position: relative;
    top: 7px;
    margin-left: 12px;
  }
}