.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 5003;
  background: rgba(0, 0, 0, 0.5);
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    min-height: 140px;
    width: 660px;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.24);

    .modal-header {
      padding: 20px;
      p {
        color: #6D788F;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        font-weight: normal;
        opacity: 0.9;
      }
    }
    .modal-body {
      max-height: 560px;
      padding: 20px;
      padding-top: 0;
      p {
        color: #6D788F;
        line-height: 22px;
        font-size: 14px;
      }
      overflow-y: auto;
    }
    .modal-footer {
      padding: 20px;
      border-top: 1px solid #D0D6E2;
      background-color: #EEF1F7;
      border-radius: 0 0 6px 6px;
      button:first-child {
        margin-right: 20px;
      }
    }
  }
}
