#rule-engine {
  p.title {
    color: #2d3f49;
    font-size: 20px;
    font-weight: 600;
    //margin-bottom: 20px;
  }

  .no-rules {
    display: flex;
    justify-content: space-between;
  }

  .rule--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .rule--body {
    padding: 30px;
    border: 1px solid #dfdfdf;
    width: 100%;
    background-color: #fff;
    transition: 0.8s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
    margin-bottom: 20px;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;

      .button-group {
        display: flex;
        align-items: center;
        .btn {
          margin-right: 20px;
        }
      }
    }

    .delivery-restriction {
      //padding: 30px 0;
      display: flex;
      flex-direction: row;
      .section {
       
        margin-right: 30px;

        .calendar-icon {
          left: 120px;
        }

        .input-field {
          margin-bottom: 20px;
          display: flex;
          align-items: center;

          span {
            margin-right: 10px;
          }
        }
      }
    }

    .nav-link.cancel {
      color: #5f5f6e;
    }

    .nav-link.save {
      color: #00b4a0;
    }
  }
  
  .label {
    margin-bottom:7px;
  }

  p {
    color: #152935;
    font-size: 14px;
    // margin-top: 10px;
  }

  .possession-limit,  .time-restrictions {
    //max-width: 225px;
    input {
      margin: 10px 0 10px 0;
    }

    span {
       width: 150px;
    }

    input[type="time"] {
      margin: 10px 20px;
    }

    .brand-type {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
    }
  }

  table * {
    border: 0;
  }

  table tr th {
    text-transform: capitalize;
    padding: 0;
    background: none;
  }

  td {
    padding: 12px 0;
    font-size: 14px;
    width: 120px;

    p {
      margin: 20px 0;
    }
  }

  table tbody tr:hover {
    background: none;
  }

  td:first-child {
    width: 30%;
  }

  td:last-child {
    svg{
      cursor: pointer;
    }
  }

  td:nth-child(6) {
    width: 30%;
  }
}