.header {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;

  .upper {
    background-color: #0f212e;
    height: 36px;
 
    p {
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      font-size: 11px;
      float: right;
      position: relative;
      top: 11px;
      padding: 0 22px;
    }
  }
  .lower {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 12px 22px;
    background-color: #152934;
  }

  .brand {
    svg {
      vertical-align: middle;
    }
    .brand--name {
      margin-left: 15px;
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 18px;
      span {
        font-size: 13px;
      }
    }
  }
}

.header--items {
  display: flex;
  align-items: center;
  cursor: pointer;
 .item {
  svg {
    vertical-align: middle;
  }
  span {
    letter-spacing: 0.5px;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
  }

  .dropdown-menu {
    margin-top: 5px;
    position: absolute;
    right: 20px;
    //top: 60px;
    //right: 4.6%;
    background: #fff;
    //color: #fff;
    width: 180px;
    transition: all 0.2s ease-out;
  }

  // .dropdown-menu.show:hover::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 100%;
  //   left: 50%;
  //   margin-left: -5px;
  //   border-width: 5px;
  //   border-style: solid;
  //   border-color: transparent transparent #fff transparent;
  // }

  .dropdown-menu.show {
    display: block;
    overflow: auto;
    // right: 0px;
    //transition: all 0.2s ease-out;

    .menu-item {
      padding: 10px 20px;
      color: #000;
      letter-spacing: .4px;
    }
  }

  .dropdown-menu.hide {
      display: none;
      // right: -300px;
      // transition: all 0.2s ease-out;
  }
 }
 .item:not(:last-child) {
   margin-right: 58px;
 }
}