.header {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;

  .upper {
    background-color: #0f212e;
    height: 36px;
    p {
      color: #fff;
      font-weight: bold;
      font-size: 11px;
      float: right;
      position: relative;
      top: 11px;
      padding: 0 22px;
    }
  }
  .lower {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 12px 22px;
    background-color: #152934;
  }

  .brand {
    svg {
      vertical-align: middle;
    }
    .brand--name {
      margin-left: 15px;
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 18px;
      span {
        font-size: 13px;
      }
    }
  }
}

.header--items {
  display: flex;
  align-items: center;
 .item {
   svg {
     vertical-align: middle;
   }
   span {
     letter-spacing: 0.5px;
     vertical-align: middle;
     font-size: 14px;
     color: #fff;
     margin-left: 10px;
   }
 }
 .item:not(:last-child) {
   margin-right: 58px;
 }
}