.navbar {
  * {
    font-family: 'Open Sans', sans-serif;
  }

  position: fixed;
  top: 0;
  left: 0;
	height: 62px;
  z-index: 2;
	width: 100%;
  font-size: 0;
  padding: 15px 20px;
	background-color: #364760;
	box-shadow: 1px 1px 5px 0 rgba(140,140,140,0.5);

  .col {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  .navbar-brand {
    width: 23%;
    h4 {
      color: #fff;
      font-weight: 600;
    }
  }

  .menu-items {
    width: 50%;
    a {
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      // font-weight: 300;
      padding: 0 30px;
      border-radius: 32px;
      color: #fff;
      transition: background 0.2s ease;
      &.active, &:hover {
        color: #364760;
        background-color: #fff;
        // font-weight: 400;
        transition: background 0.2s ease;
      }
      text-decoration: none;
    }
    .menu-items-inner {
      display: flex;
      justify-content: space-between;
    }
  }

  .logout {
    cursor: pointer;
    text-align: right;
    width: 27%;
    font-size: 14px;
    span:first-child {
      vertical-align: middle;
    }
    span:last-child {
      color: #fff;
      margin-left: 8px;
    }
  }
}
