.search--box {
  position: relative;
  // svg {
  //   position: absolute;
  //   top: 50%;
  //   left: 8px;
  //   transform: translateY(-50%);
  // }
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .search {
    left: 8px;
  }

  .cross {
    right: 8px;
  }

  input {
    border: 0;
    background-color: #fff;
    height: 32px;
    width: 250px;
    padding: 0 8px 0 32px !important;
    &:focus {
      outline: 0;
    }
  }
}