.filter-container {
  background-color: #e6ebf2;
  position: absolute;
  top: 40px;
  right: 0px;
  padding: 15px 38px  15px 17px;
  z-index: 1;
  //transition: all 0.2s ease;

  &.show {
    //opacity: 1;
    display: block;
    transition: all 0.2s ease
  }

  &.hide {
    //opacity: 0;
    display: none;
    transition: all 0.2s ease;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    color: #3d70b2;
  }

  .input-field {
    margin-bottom: 15px;
  } 

  .calendar-icon {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    width: 20px;
    height: 38px;
    position: absolute;
    left : 10px;
    top: 30px;
  }
}