.filter-container {
  background-color: #e6ebf2;
  position: absolute;
  top: 40px;
  right: 0px;
  padding: 15px 38px  15px 17px;
  //transition: all 0.2s ease;

  &.show {
    opacity: 1;
    transition: all 0.2s ease
  }

  &.hide {
    opacity: 0;
    transition: all 0.2s ease;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    color: #3d70b2;
  }

  .input-field {
    margin-bottom: 15px;
  } 

  .calendar-icon {
    position: absolute; 
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }

  input.small {
    width: 105px;
  }
}